<nav class="navbar navbar-expand-md bg-wine">
  <div class="container"> <!-- Cambiado a container para limitar el ancho -->
      <a id="header1" class="navbar-brand rounded-circle " href="">
          <img id="logo" src="header/logo integradora 2.png" class="img-fluid rounded-circle" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
          <!-- Elementos centrados -->
          <div class="navbar-nav">
              <app-hfila1></app-hfila1>
          </div>
          <form id="form1" class="d-flex ms-auto" role="search">
              <input id="input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
      </div>
  </div>
</nav>